<div class="container">
  <div class="design">
    <h3>Registration Form</h3>
    <label>Enter your FirstName : </label>
    <input placeholder="Username address" /><br />
    <label>Enter your LastName : </label>
    <input placeholder="Last name" /><br />
    <label>Enter your contact no : </label>
    <input placeholder="phone number" /><br />
    <label>Enter your Address : </label>
    <input placeholder="address" /><br />
    <label>Enter todays date : </label>
    <input placeholder="date" /><br />
    <button class="login-button">register</button>
  </div>
</div>
